<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>235584428561-uiq72qr8an4m8g1cg4cf0misrh2et4hj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.235584428561-uiq72qr8an4m8g1cg4cf0misrh2et4hj</string>
	<key>API_KEY</key>
	<string>AIzaSyA-uRojlGQ47wkcFyghCum_ZZCDKu4NtY8</string>
	<key>GCM_SENDER_ID</key>
	<string>235584428561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TranLe.Apple.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messengerswift-3f2b0</string>
	<key>STORAGE_BUCKET</key>
	<string>messengerswift-3f2b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:235584428561:ios:d8878a5070d0998e422fb0</string>
</dict>
</plist>